# Backend
SUPABASE_URL=https://kgkipccicldvqgsnubih.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtna2lwY2NpY2xkdnFnc251YmloIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTIxNjM4MywiZXhwIjoyMDg2NzkyMzgzfQ.2KfzJoDW84-qQMrtMk_jmuCaXIVM96D-elm-OaP8qH4
GEMINI_API_KEY=AIzaSyARVxgKojuuneQgBpCtLDXdP_POjyXbFFo

# Web Dashboard
VITE_SUPABASE_URL=https://kgkipccicldvqgsnubih.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtna2lwY2NpY2xkdnFnc251YmloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMTYzODMsImV4cCI6MjA4Njc5MjM4M30.3M7b08unlFGwvcOnByHc2nmkGBDOtcDEYuhNikf9I3Y
VITE_API_URL=http://localhost:8000
